{% extends "AppCoder/padre.html" %}

{% load static %}
{% block contenidoQueCambia %}

<h1>Sobre nosotros</h1>
<p>Un poco sobre nosotros…
    Este es un blog que permite compartir opiniones y diferentes 
    perspectivas sobre temas de interés general de arte, deporte y cultura. 
    Porque nos importa lo que cada uno debe contar, y nos interesa que se transmita, 
    este es un espacio seguro donde cualquier falta de  respeto será sancionada dependiendo del nivel de gravedad. 
    Contamos con redes sociales como instagram: @blogsocial fb:blogsocial_h</p>

{% endblock %}

